@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background: #F55A5A;
  height: 55px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar--heading{
  font-family: Inter;
  font-weight: 500;
  margin-left: 8px;
  font-size: 15px;
}

.card{
  display: flex;
  flex-direction: row;

}
.card--image{
  max-width: 300px;
}

.card--country{
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 10px;
  margin-left: 5px;
}

.card--geolink{
  text-decoration: none;
  color: #918E9B;
  text-decoration-line: underline;
  font-size: 10px;
}