@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background: #F55A5A;
  height: 55px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar--heading{
  font-family: Inter;
  font-weight: 500;
  margin-left: 8px;
  font-size: 15px;
}