@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.navbar{
  background: #4f44f3;
  height: 55px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.navbar--heading{
  font-family: Inter;
  font-weight: 500;
  margin-left: 8px;
  font-size: 15px;
}
.card{
  width: 1000px;
  margin: 0 auto;

}
.card--container{
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card--image{
  width: 220px;
  height: 260px;
  border-radius: 5px;
  margin-left: 4rem;
}

.card--country{
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 18px;
  margin-left: 8px;
}
.card--location_img{
  width: 10px;
}
.card--geolink{
  text-decoration: none;
  color: #918E9B;
  text-decoration-line: underline;
  font-size: 1.4rem;
  margin-left: 1.2rem;
}
.card--properties{
  margin-left: 1.6rem;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.card--description{
  font-size: 1.2rem;
  line-height: 150%;
  text-align: left;
}